extends ../_bootstrap
append styles
	// Custom styles for this template 
	link(href="../css/carousel.css", rel="stylesheet")
block body
	.container
		+navbar-fixed('indiekicker', 'navbar', session.admin ? 'inverse': 'default')
			li
				a Hello, #{session.name}
			+nav_item("/","active") Home
			+nav_item("/project/all/1") Projects
			+nav_item("/category/all/1") Categories
			+nav_item("/user/" + session.userid) My profile
			if session.admin === true
				+nav_item("/user/all") All users
			form.navbar-form.navbar-nav(method='post', action='/project/search')
				.form-group
					input.form-control(name='searchparams', type='text', placeholder='Search keyword')
				button.btn.btn-success(type='submit') Search
			form.navbar-form.navbar-right(method='post', action='/logout')
				button.btn.btn-primary(type='submit') Logout
	// Carousel
	// ==================================================
	+carousel("myCarousel", carouselProjects)
	//  Marketing messaging and featurettes
	//  ==================================================
	// Wrap the rest of the page in another container to center all the content.
	.container.marketing
		// Three columns of text below the carousel
		h2.heading HALL OF FAME: Most funded projects ever (by amount)
		br
		.row
			.col-lg-4
				img.img-circle(src='../images/marketing1.jpeg', alt='Generic placeholder image', width='140', height='140')
				h4=rowProjects[0].heading
				h4
					| Total funded: <b>$#{rowProjects[0].amountfunded}</b>
				p
					a.btn.btn-default(href=`/project/${rowProjects[0].id}`, role='button') View details »
			.col-lg-4
				img.img-circle(src='../images/marketing2.jpeg', alt='Generic placeholder image', width='140', height='140')
				h4=rowProjects[1].heading
				h4
					| Total funded: <b>$#{rowProjects[1].amountfunded}</b>
				p
					a.btn.btn-default(href=`/project/${rowProjects[1].id}`, role='button') View details »
			.col-lg-4
				img.img-circle(src='../images/marketing3.jpeg', alt='Generic placeholder image', width='140', height='140')
				h4=rowProjects[2].heading
				h4
					| Total funded: <b>$#{rowProjects[2].amountfunded}</b>
				p
					a.btn.btn-default(href=`/project/${rowProjects[2].id}`, role='button') View details »
		// START THE FEATURETTES
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| Our database skills are the best. 
					span.text-muted It'll blow your mind.
				p.lead
					| The projects. Here. Will blow your mind. Seriously.
			.col-md-5
				img.featurette-image.img-responsive.center-block(src='../images/featurette1.jpg', alt='Generic placeholder image')
		hr.featurette-divider
		.row.featurette
			.col-md-7.col-md-push-5
				h2.featurette-heading
					| Oh yeah, it's that good. 
					span.text-muted
				p.lead  Our searches are powered by a massive if-elif-else clause numbering in the thousands. Who needs that SQL thing anyways?
					| 
			.col-md-5.col-md-pull-7
				img.featurette-image.img-responsive.center-block(src='../images/featurette2.jpg', alt='Generic placeholder image')
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| And lastly, this one. 
					span.text-muted Checkmate.
				p.lead
					| Go forth and kick some indies today.
			.col-md-5
				img.featurette-image.img-responsive.center-block(src='../images/featurette3.jpg', alt='Generic placeholder image')
		hr.featurette-divider
		// /END THE FEATURETTES
		// FOOTER
		footer
			p.pull-right
				a(href='#') Back to top
			p
				| © 2018 Indiekicker Inc. 
				a(href='#') Privacy
				|  · 
				a(href='#') Terms



