extends ../_bootstrap
append styles
	// Custom styles for this template 
	link(href="../css/carousel.css", rel="stylesheet")
block body
	.navbar-wrapper
		.container
			nav.navbar.navbar-inverse.navbar-static-top
				.container
					.navbar-header
						button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
							
						a(class="navbar-brand", href="#") indiekicker
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li.active
								a(href="/") Home
							li
								a(href="/projects") All projects
							li
								a(href="/user") My profile
							//li.dropdown
							//	a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
							//		| Dropdown 
							//		span.caret
							//	ul.dropdown-menu(role='menu')
							//		li
							//			a(href='#') Action
							//		li
							//			a(href='#') Another action
							//		li
							//			a(href='#') Something else here
							//		li.divider
							//		li.dropdown-header Nav header
							//		li
							//			a(href='#') Separated link
							//		li
							//			a(href='#') One more separated link
							
	// Carousel
	// ==================================================
	+carousel("myCarousel", carouselProjects)
	//  Marketing messaging and featurettes
	//  ==================================================
	// Wrap the rest of the page in another container to center all the content.
	.container.marketing
		// Three columns of text below the carousel
		h2.heading Our top projects: fund them today!
		br
		.row
			.col-lg-4
				img.img-circle(src='../images/marketing1.jpg', alt='Generic placeholder image', width='140', height='140')
				h2=rowProjects[0].heading
				p
					| #{rowProjects[0].description}
				p
					a.btn.btn-default(href=`/project/${rowProjects[0].id}`, role='button') View details »
			.col-lg-4
				img.img-circle(src='../images/marketing2.jpg', alt='Generic placeholder image', width='140', height='140')
				h2=rowProjects[1].heading
				p
					| #{rowProjects[1].description}
				p
					a.btn.btn-default(href=`/project/${rowProjects[1].id}`, role='button') View details »
			.col-lg-4
				img.img-circle(src='../images/marketing3.jpg', alt='Generic placeholder image', width='140', height='140')
				h2=rowProjects[2].heading
				p
					| #{rowProjects[2].description}
				p
					a.btn.btn-default(href=`/project/${rowProjects[2].id}`, role='button') View details »
		// START THE FEATURETTES
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| Our database skills are the best. 
					span.text-muted It'll blow your mind.
				p.lead
					| The projects. Here. Will blow your mind. Seriously.
			.col-md-5
				img.featurette-image.img-responsive.center-block(src='../images/featurette1.jpg', alt='Generic placeholder image')
		hr.featurette-divider
		.row.featurette
			.col-md-7.col-md-push-5
				h2.featurette-heading
					| Oh yeah, it's that good. 
					span.text-muted
				p.lead We're the best software engineers around. Our searches are powered not by Google, hell not even Elasticsearch, but by a massive if-elif-else clause numbering in the thousands. Who needs that <i>SQL</i> thingy anyways?
					| 
			.col-md-5.col-md-pull-7
				img.featurette-image.img-responsive.center-block(src='../images/featurette2.jpg', alt='Generic placeholder image')
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| And lastly, this one. 
					span.text-muted Checkmate.
				p.lead
					| Go fourth and kick some indies today.
			.col-md-5
				img.featurette-image.img-responsive.center-block(src='../images/featurette3.jpg', alt='Generic placeholder image')
		hr.featurette-divider
		// /END THE FEATURETTES
		// FOOTER
		footer
			p.pull-right
				a(href='#') Back to top
			p
				| © 2014 Company, Inc. · 
				a(href='#') Privacy
				|  · 
				a(href='#') Terms



