extends ../_bootstrap
append styles
	// Custom styles for this template
	link(href='../../css/jumbotron.css', rel='stylesheet')
block body
	.container
		+navbar-fixed('indiekicker', 'navbar', session.admin ? 'inverse': 'default')
			li
				a Hello, #{session.name}
			+nav_item("/") Home
			+nav_item("/project/all/1", "active") Projects
			+nav_item("/category/all/1") Categories
			+nav_item("/user/" + session.userid) My profile
			if session.admin === true
				+nav_item("/user/all") All users
			form.navbar-form.navbar-nav(method='post', action='/project/search')
				.form-group
					input.form-control(name='searchparams', type='text', placeholder='Search keyword')
				button.btn.btn-success(type='submit') Search
			form.navbar-form.navbar-right(method='post', action='/logout')
				button.btn.btn-primary(type='submit') Logout
	br
	.container
		.col-md-12
			img.img-circle(src='../images/marketing'+((project.projectid%3)+1)+'.jpg', alt='Generic placeholder image', width='80', height='80')
			h1 #{project.name}
			h3 Started #{ project.startdate.toString().substring(0, 15)}
			h3 Due #{ project.duedate.toString().substring(0, 15)}
			br
			p #{ project.description }
			+progress-bar-striped(project.percentagefunded)
			h4 Currently at $#{ project.amountfunded } / $#{ project.amountsought }
			h3 <i>Help them reach their goal today!</i>
		hr
	.jumbotron
		.container
			p
				| YOU can help them reach their goal! Unless you're feeling selfish today...
			form.navbar-form.navbar-nav(method='post', action='/project/'+project.projectid+'/fund')
				.form-group
					p 
						| Credit card number
						br
						input.form-control(name='ccn', type='number', required='', placeholder='xxxxxx-xxxxxx-xxxx')
					p
						| Amount <i>(maximium: $#{ project.amountsought - project.amountfunded })</i>
						br
						input.form-control(name='amount', type='number', placeholder='$')
				br
				br
				button.btn.btn-success.btn-lg(type='submit') Fund them now! »
			if (error)
				each message in error
					+alert-warning(message)
			if (success)
				each message in success
					+alert-warning(message)
	footer
	block content