extends ../_bootstrap
append styles
	// Custom styles for this template
	link(href='../../css/jumbotron.css', rel='stylesheet')
block body
	.container
		+navbar-fixed('indiekicker', 'navbar', session.admin ? 'inverse': 'default')
			li
				a Hello, #{session.name}
			+nav_item("/") Home
			+nav_item("/project/all/1", "active") Projects
			+nav_item("/category/all/1") Categories
			+nav_item("/user/" + session.userid) My profile
			if session.admin === true
				+nav_item("/user/all") All users
			form.navbar-form.navbar-nav(method='post', action='/project/search')
				.form-group
					input.form-control(name='searchparams', type='text', placeholder='Search keyword')
				button.btn.btn-success(type='submit') Search
			form.navbar-form.navbar-right(method='post', action='/logout')
				button.btn.btn-primary(type='submit') Logout
	.jumbotron
		.container
			h2 Our Projects
			p
				| Look at our projects. Or start one right here. It's that simple.
			p
				a.btn.btn-primary.btn-lg(href='/project/create', role='button') Start a new project »
			form(method='POST')

				h4 Order by

				if queries.orderby==="t.name"
					+radio-inline("Name", "orderby", "1", "t.name","")
				else
					+radio-inline("Name", "orderby", "1", "t.name")
				if queries.orderby==="t.amountfunded"
					+radio-inline("Funded amount", "orderby", "1", "t.amountfunded", "")
				else
					+radio-inline("Funded amount", "orderby", "1", "t.amountfunded")
				if queries.orderby==="t.amountsought"
					+radio-inline("Target amount", "orderby", "1", "t.amountsought", "")
				else
					+radio-inline("Target amount", "orderby", "1", "t.amountsought")
				if queries.orderby==="t.startdate"
					+radio-inline("Start date", "orderby", "1", "t.startdate", "")
				else
					+radio-inline("Start date", "orderby", "1", "t.startdate")
				if queries.orderby==="t.duedate"
					+radio-inline("Due date", "orderby", "1", "t.duedate", "")
				else
					+radio-inline("Due date", "orderby", "1", "t.duedate")

				h4 Order

				if queries.order==="ASC"
					+radio-inline("Ascending", "order", "1", "ASC","")
				else
					+radio-inline("Ascending", "order", "1", "ASC")
				if queries.order==="DESC"
					+radio-inline("Descending", "order", "1", "DESC","")
				else
					+radio-inline("Descending", "order", "1", "DESC")

				h4 Status

				if queries.status==="funded"
					+radio-inline("Funded", "status", "1", "funded","")
				else
					+radio-inline("Funded", "status", "1", "funded")
				if queries.status==="notfunded"
					+radio-inline("Not funded", "status", "1", "notfunded","")
				else
					+radio-inline("Not funded", "status", "1", "notfunded")

				h4 Due date

				if queries.duedate==="passed"
					+radio-inline("Passed", "duedate", "1", "passed","")
				else
					+radio-inline("Passed", "duedate", "1", "passed")
				if queries.duedate==="notpassed"
					+radio-inline("Not passed", "duedate", "1", "notpassed","")
				else
					+radio-inline("Not passed", "duedate", "1", "notpassed")
				br
				+submit("Sort")
			br
			if queryparams.length !== 0
				h3 Keywords
				p #{queryparams}
	.container
		if projects.length === 0
			h2 None
		each project in projects
			.col-md-4
				img.img-circle(src='../../images/marketing'+project.imageid+'.jpg', alt='Generic placeholder image', width='60', height='60')
				h2 #{project.name.substring(0, 21)}
				p #{ project.description.substring(0, 50) + '...' }
				+progress-bar-striped(project.percentagefunded)
				h3 Currently at $#{ project.amountfunded } / $#{ project.amountsought }
				h5 Started #{ project.startdate.toString().substring(0, 15)}
				h5 Due     #{ project.duedate.toString().substring(0, 15)}
				if queryparams.length !== 0
					h5 Matches #{ project.matches } keywords
				p
					a.btn.btn-default(href='/project/'+project.projectid, role='button') Contribute! »
		hr
		footer
	block content