extends ../_bootstrap
append styles
	// Custom styles for this template
	link(href='../css/starter-template.css', rel='stylesheet')
block body
	.container
		+navbar-fixed('indiekicker', 'navbar', session.admin ? 'inverse': 'default')
			li
				a Hello, #{session.name}
			+nav_item("/") Home
			+nav_item("/project/all/1") Projects
			+nav_item("/category/all/1") Categories
			+nav_item("/user/" + session.userid, "active") My profile
			if session.admin === true
				+nav_item("/user/all") All users
			form.navbar-form.navbar-nav(method='post', action='/project/search')
				.form-group
					input.form-control(name='searchparams', type='text', placeholder='Search keyword')
				button.btn.btn-success(type='submit') Search
			form.navbar-form.navbar-right(method='post', action='/logout')
				button.btn.btn-primary(type='submit') Logout
	.container
		.starter-template
			h1 Hello, #{user.name}.
			p.lead
				| Welcome to your profile.
		
		h2 My notifications
		if (newNotif.length === 0 && oldNotif.length === 0)
			p None
		else
			each notif in newNotif
				h5 
					+icon-success('comment')
					|  (new) #{ notif.createdat.toString().substring(0, 24) }: #{ notif.notification }
			each notif in oldNotif
				h5 
					+icon('comment')
					|  #{ notif.createdat.toString().substring(0, 24) }: #{ notif.notification }
				
		h2 My projects
		if (projects.length === 0)
			p None
		each project in projects
			h4
				p #{project.name}
				|  
				a.btn.btn-primary(href='/project/'+project.projectid, role='button') <strong>Visit</strong> »
				form(method='post', action='/project/'+project.projectid+'/delete')
					button.btn-sm.btn-danger(type='submit') <strong>Delete</strong> »
		h4
			| <strong>$#{fundingGathered}</strong> total gathered fundings from all my projects
		hr
		h2 Projects I've funded
		if (funded.length === 0)
			p None
		each funding in funded
			h4
				| <strong>$#{funding.amount}</strong> to 
				a.btn.btn-default(href='/project/'+funding.projectid, role='button') <strong>#{funding.name}</strong> »
		h4
			| <strong>$#{fundedAmount}</strong> total funded to other projects
		hr
		form(method='post')
			h2.form-signin-heading Change profile information
			label(for='name') Name
			input#name.form-control(type='text', placeholder=`${user.name}`, name='name')
			br
			label(for='username') Username
			input#username.form-control(type='text', placeholder=`${user.username}`, name='username')
			br
			label(for='inputPassword') Password
			input#password.form-control(type='password', placeholder='New Password (at least 6 characters)', name='password')
			br
			label(for='inputPassword') Confirm password
			input#passwordConfirm.form-control(type='password', placeholder='Confirm Password', name='passwordconfirm'
			br
			onblur='if ($("#password").val()!==$("#passwordConfirm").val()) { $("#passwordConfirm").css({\'background-color\': \'#f2dede\' }) } else { $("#passwordConfirm").css({\'background-color\':\'#fff\'}) } ')
			br
			label(for='email') Email address
			input#email.form-control(type='text', placeholder=`${user.email}`, name='email')
			br
			button.btn.btn-lg.btn-primary.btn-block(type='submit') Confirm change
			br
			if (error)
				each message in error
					+alert-warning(message)
			if (success)
				each message in success
					+alert-success(message)
		hr
		br
		form(method='post', action='/user/'+user.userid+'/delete')
			button.btn.btn-lg.btn-danger.btn-block(type='submit') Delete account
			br
	