//- carousel caption
mixin carousel-caption(project)
	.carousel-caption
		h2 Project: <b>#{project.name}</b> | #{project.category}
		p 
			| #{project.percentagefunded.substring(0, 5)}% funded
		p
			a.btn.btn-lg.btn-primary(href=`/project/${project.projectid}` role="button") #{project.daysleft} days left to contribute!

//- carousel
mixin carousel(id,projects)
	.carousel.slide(id=`carousel-${id}`,data-ride="carousel")
		//- Indicators
		ol.carousel-indicators
			each project,index in projects
				if(index === 0)
					li.active(data-target=`#carousel-${id}`, data-slide-to="#{index}")
				else
					li(data-target=`#carousel-${id}`, data-slide-to="#{index}")


		//- Wrapper for slides
		.carousel-inner(role="listbox")
			each project,index in projects
				if(index === 0)
					.item.active
						img(src=`../images/carousel${index+1}.jpeg`)
						+carousel-caption(project)
							
				else
					.item
						img(src=`../images/carousel${index+1}.jpeg`)
						+carousel-caption(project)

		//-  Controls
		a.left.carousel-control(href=`#carousel-${id}`, role="button", data-slide="prev")
			+icon("chevron-left")
			span.sr-only Previous
		a.right.carousel-control(href=`#carousel-${id}`, role="button", data-slide="next")
			+icon("chevron-right")
			span.sr-only Next
